body {
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
  background-image: url(https://i.pinimg.com/564x/41/6c/24/416c249acafe2125179e8c67e0d83a2f.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
section {
  position: absolute;
  top: 45%;
  
  z-index: 1;
} 
.intro {
  $intro-width: 15em;
  width: 100%;
  padding: center;
  font-size: 200%;
  font-weight: 400;
  color: rgb(75, 213, 238);
  opacity: 0;
  animation-name : intro;
  animation-duration: 3s;
  text-align: center;
  

}
@keyframes intro {
  0% {
    opacity: 0;
  }  
	20% { 
    opacity: 1; 
  }
	90% { 
    opacity: 1; 
  }
	100% { 
    opacity: 0;
  }
}

.fade {
  position: relative;
  width: 100%;
  min-height: 60vh;
  
  z-index: 1;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 800px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 500%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}

.crawl {
    position: relative;
    top: 9999px;
    transform-origin: 50% 100%;
    animation: crawl 60s linear;
    animation-delay: 3s;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
  $titles-width: 14.65em;
    width: $titles-width;
    margin: 0 0 0 (- $titles-width / 2);
    top: auto;
    bottom: 0;
	  overflow: hidden;
    transform-origin: 50% 100%;
    @include transform(perspective(300px) rotateX(25deg));
    
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}
@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg)  translateZ(0);
  }
  100% { 
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
@keyframes titles {
	0% { 
    top: 100%; 
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
	100% { 
    top: 20%; 
    opacity: 0;
  }
}
.logo {
    opacity: 0;
    animation-name: logo;
    width: 100%;
    margin: auto;
    text-align: center;
    transform: translateY(-50%);
    animation-delay: 3s;
    animation-duration: 5s;
    animation-iteration-count: 1;
}  
@keyframes logo 
{
	0% 
    {
        transform: scale(1); opacity: 1;
	}
    50%
    {
        opacity: 1;
    }
    100% 
    {
        transform: scale(0.1); opacity: 0;
    }
}
.audio{
    animation-name: audio;
    animation-delay: 5s;
    animation-iteration-count: 1;


}